html, body {margin:0px; padding:0px; font-family: sans-serif;}
header {padding:10px; box-sizing: border-box;}
.main-container {z-index: 1; position:relative;}
#map {position: fixed; top:70px; height:100%; width:100%; z-index:0;}
button {border-style:solid; border-color:transparent; outline: none;
-webkit-filter:grayscale(1); cursor: pointer;
  margin-right:10px;
}
button.selected {
 
  -webkit-filter:grayscale(0);
  
}

body {font-size:16px;}
h1 {font-size:200%;}
h2 {font-size:150%;}

#choices {text-align: center;}
#choices ul {margin: 0px; padding:0px; width:300px; margin:auto;}
.choice {list-style: none; background-color:white; border-style:solid; border-color:black; padding:10px; cursor: pointer;}

#messages {max-width:100%; margin:auto; width:700px; text-align: center;}
.message {border-width: 0 0 2px 0; border-style: solid; padding-bottom: 10px;}

.edit-thing, .create-thing {background-color:white; border-style:solid; color:black; padding:5px; display:inline-block; margin:10px 0 10px 0; border-width:1px; cursor:pointer;}

#thing-form {border-style:solid; border-width: 2px 0 0 0;}

#map-button {background-image: url("../images/map.png"); width:50px; height:50px; background-size:contain; color:transparent; background-color: transparent; background-repeat: no-repeat; background-position: center;}

#messages-button {background-image: url("../images/messages.png"); width:50px; height:50px; background-size:contain; color:transparent; background-color: transparent; background-repeat: no-repeat; line-height:50px; background-position: center;}

#home {background-image: url("../images/adventurepoint.png"); width:50px; height:50px; background-size:contain; color:transparent; background-color: transparent; background-repeat: no-repeat; line-height:50px; background-position: center; float:right;}