html,body {width:100%; height:100%;}
#forms {position:fixed; z-index:2; top:50px; left:50%; margin-left:120px; width:300px; margin:auto; background-color:white; padding:10px;}
#makepoint {display:none;}
#map {width:100%; height:100%; z-index:0;}
label {display:block;}