* {
  max-width: 100%;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "proxima-nova";
  color: #59595A;
}
header {
  position: fixed;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
  border-style: solid;
  border-color: #59595A;
  border-width: 2px;
  z-index: 5;
  width: 100%;
  top: 0px;
}
.main-container {
  z-index: 1;
  position: relative;
}

#editMode {position:fixed; bottom:0px; left:0px; background-color: #73b6e6; color:white; padding:5px; font-weight: bold;}

#map {
  position: absolute;
  overflow: hidden;
  top: 68px;
  height: 100%;
  width: 100%;
  z-index: 0;
}
header h1 {
  display: inline-block;
  margin: 0px;
}
button {
  border-style: solid;
  border-color: transparent;
  outline: none;
  -webkit-filter: grayscale(1);
  cursor: pointer;
  margin-right: 10px;
}
button.selected {
  -webkit-filter: grayscale(0);
}
.node-type-page {
  background-color: #73b6e6;
}
#page-main {
  color: white;
  position: relative;
  top: 68px;
  margin: auto;
  width: 500px;
}
#page-main h1 {
  font-size: 500%;
  font-weight: 400;
  margin: 20px 0px;
  text-shadow: -.04em .04em #59595A;
  text-align: left;
}
.front-logo {
  width: 150px;
  vertical-align: bottom;
  margin: auto;
  display: block;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

ul.menu {padding:0px;}
ul.menu li {
  list-style:none !important;
  display: inline-block !important;
  padding: 5px;
  background-color: white;
  color: #73B6E6;
  margin-right: 10px;
  margin-top: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  font-weight: bold;
}
ul.menu li:hover {
  background-color: #59595A;
  color: white;
}


body {
  font-size: 16px;
}
h1 {
  font-size: 300%;
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
}
h2 {
  font-size: 150%;
}
#choices {
  text-align: center;
}
#choices ul {
  margin: 0px;
  padding: 0px;
  width: 300px;
  margin: auto;
}
.choice {
  list-style: none;
  background-color: white;
  border-style: solid;
  border-color: #59595A;
  padding: 10px;
  cursor: pointer;
}
#messages {
  max-width: 100%;
  margin: auto;
  width: 700px;
  text-align: center;
}
.message {
  border-width: 0 0 2px 0;
  border-style: solid;
  padding-bottom: 10px;
}

#thing-form {
  border-style: solid;
  border-width: 2px 0 0 0;
}
#map-button {
  background-image: url("../images/map.png");
  width: 50px;
  height: 50px;
  background-size: contain;
  color: transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
#messages-button {
  background-image: url("../images/messages.png");
  width: 50px;
  height: 50px;
  background-size: contain;
  color: transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  line-height: 50px;
  background-position: center;
}
#self-button {
  background-image: url("../images/self.png");
  width: 50px;
  height: 50px;
  background-size: contain;
  color: transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  line-height: 50px;
  background-position: center;
}
#home-divider {
  float: right;
  width: 1px;
  display: block;
  height: 50px;
  line-height: 50px;
  background-color: #59595A;
  position: relative;
  left: -10px;
}
#home {
  border-style: solid;
  border-color: #59595A;
  border-width: 2px;
  border-radius: 100%;
  padding: 5px;
  box-sizing: border-box;
  float: right;
}
#home a {
  display: block;
  background-image: url("../images/adventurepoint.png");
  width: 40px;
  height: 40px;
  background-size: contain;
  color: transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  line-height: 50px;
  background-position: center;
}
.page-node-add-adventure, .page-user-login, .page-adventures {
  padding: 10px;
  width:600px;
  margin: auto;
}

#coords {padding:5px; width:350px; background-color:white; position:fixed; bottom:0px; right:0px;}

.page-adventures .view-header {margin-bottom: 40px;}

#block-views-adventures-block {
  padding: 10px;
  position: relative;
  top: 80px;
  color: white;
}
.view-adventures h3,
.view-adventures h2 {
  padding: 0px;
  margin: 0px;
}
.view-adventures .views-row {
  width: 250px;
  float: left;
}
.view-adventures img {
  margin-top: 10px;
  border-style: solid;
  border-color: white;
  border-width: 4px;
}

#editableviews-entity-form-current-adventure td.views-field {display: block;}

#editableviews-entity-form-current-adventure tr.even, #editableviews-entity-form-current-adventure tr.odd {background-color:#73B6E6; padding:10px; color:white; display: block;}

.view-editable-things .views-field-nothing {
 
  cursor: pointer;
  background-color: #73B6E6;
  color: white;
  margin-right: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  font-weight: bold;
  
}

.view-editable-things .views-field-delete-node {
 
  cursor: pointer;
  background-color: red;
  color: white;
  margin-right: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  font-weight: bold;
  
}

.view-editable-things .views-field-title {font-weight: bold; background-color:#59595A; color:white;}

#editableviews-entity-form-current-adventure #edit-actions-submit {
 
  width:100px;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  background-color: #73B6E6;
  color: white;
  margin-right: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  font-weight: bold;

}

.view-editable-things {border-style:solid; border-color:#59595A; border-width:2px 0 0 0; padding:5px;}

.view-editable-things td {padding:5px;}

.view-editable-things p {margin-left:5px;}

.view-editable-things .create-thing {
 
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  background-color: #73B6E6;
  color: white;
  margin-right: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  font-weight: bold;
  
}

#edit {position: relative; top:66px;}
#edit .file {display: none;}
#edit .file-size {display: none;}
.views-row-edit-static {display: none;}

.password-strength, .password-suggestions {display: none;}

.tabledrag-toggle-weight {display: none;}

.page-toboggan-denied {padding:10px;}

.filter-wrapper {display: none;}
.ckeditor_links {display: none !important;}